body {
  background-color: lightgray;
}

.test {
  background-color: red;
}

.container {
  margin: 20px;
}

.identitas {
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.box {
  margin: 10px;
}
